body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.equalizer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
}

.grid__element {
  border: 1px solid black;
}

.audio__upload {
  margin: 25px 0;
}

.audio__player {
  width: 100%;
}
